<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="title center">Please add following details</h2>
    <form method="post" action="/posts">
        <div class="center form"><input name="username" placeholder="Enter username"></div>
        <div class="center form"><textarea name="content" placeholder="Enter content"></textarea></div>
        <div class="center"><button class="btn">Add Post</button></div>    
    </form>
</body>
</html>